<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earnings</title>
</head>
<body>

    <nav>
        <%-include('./partials/nav')%>
        <a href="/earnings">Back to All Earnings</a>
    </nav>
    <h1> <%=earning.month%> </h1>
    <p>Amount: <%=earning.earnings%></p>
    <p>Notes: <%=earning.notes%></p>
    <form action="/earnings/<%=earning._id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
    </form>
    <a href="/earnings/<%=earning._id%>/edit">Edit</a>

</body>
</html>