<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Edit Earning</title>
</head>
<body>
    <%-include('./partials/nav')%>
    <div class="earning-edit">
    <h1>Edit Earnings</h1>
    <form action="/earnings/<%=earning._id%>?_method=PUT" method="POST">
        <label>
        Month: <input class="edit" type="text" name="month" value="<%=earning.month%>">
    </label>
    <label>
        Earnings: <input class="edit" type="text" name="earnings" value="<%=earning.earnings%>">
    </label>
    <label>
        Notes: <input class="edit" type="text" name="notes" value="<%=earning.notes%>">
    </label>
</br>
        <input class="edit" type="submit" value="Update Earnings">
    </form>
</div>

</body>
</html>