<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Earnings</title>
</head>
<body>
    <nav>
        <%-include('./partials/nav')%>
    </nav>
    <div class="earning-show">
    <h1> <%=earning.month%> </h1>
    <p>Amount: <%=earning.earnings%></p>
    <p>Notes: <%=earning.notes%></p>
    <label>
    <a href="/earnings/<%=earning._id%>/edit">Edit</a>
    </label>
    <form action="/earnings/<%=earning._id%>?_method=DELETE" method="POST">
        <label>
        <input class='delete' type="submit" value="DELETE">
    </label>
    </form>

    <label>
    <a href="/earnings">Back to All Earnings</a>
    </label>
</div>
</body>
</html>