<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Edit Earning</title>
</head>
<body>
    <%-include('./partials/nav')%>
    <h1>Edit Earnings</h1>
    <form action="/earnings/<%=earning._id%>?_method=PUT" method="POST">
        Month: <input type="text" name="month" value="<%=earning.month%>">
        Earnings: <input type="text" name="earnings" value="<%=earning.earnings%>">
        Notes: <input type="text" name="notes" value="<%=earning.notes%>">
        <input type="submit" value="Update Earnings">
    </form>

</body>
</html>