<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Edit Expense </title>
</head>
<body>
    <nav>
        <%-include('./partials/nav')%>
    </nav>
<div class="expense-edit">
    <h1>Edit Expense</h1>
    <form action="/expenses/<%=expense._id%>?_method=PUT" method="POST">
        <label>
         Name: <input class='edit' type="text" name="name" value="<%=expense.name%>">
        </label>
    </br>
        <label>
          Budget: <input  class='edit' type="text" name="budget" value="<%=expense.budget%>">
        </label>
    </br>
        <label>
          Spent: <input class='edit' type="text" name="spent" value="<%=expense.spent%>">
        </label>
    </br>
        <label>
          Notes: <input class='edit' type="text" name="notes" value="<%=expense.notes%>">
        </label>
        </br>
        <input class='edit' type="submit" value="Update Expense">
    </form>
</div>

</body>
</html>