<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Savings</title>
</head>
<body>

    <nav>
        <%-include('./partials/nav')%>

    </nav>
    <div class="savings-show">
    <h1> <%=saving.month%> </h1>
    <p>Amount:<%=saving.savings%></p>
    <p>Notes: <%=saving.notes%></p>
    <label>
    <a href="/savings/<%=saving._id%>/edit">Edit</a>
    </label>
    <form action="/savings/<%=saving._id%>?_method=DELETE" method="POST">
        <label>
        <input class='delete' type="submit" value="DELETE">
    </label>
    </form>
    <label>
    <a href="/savings">Back to All Savings</a>
</label>
</div>


</body>
</html>