<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Edit Savings</title>
</head>
<body>
    <nav>
        <%-include('./partials/nav')%>
    </nav>
<div class="savings-edit">
    <h1>Edit Savings</h1>
    <form action="/savings/<%=saving._id%>?_method=PUT" method="POST">
    <label>
        Month: <input class='edit' type="text" name="month" value="<%=saving.month%>">
    </label>
    <label>
        Savings: <input class='edit' type="text" name="savings" value="<%=saving.savings%>">
    </label>
    <label>
        Notes: <input class='edit' type="text" name="notes" value="<%=saving.notes%>">
    </label>
</br>
        <input class='edit' type="submit" value="Update Savings">
    </form>
</div>


</body>
</html>