<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Expense Details</title>
</head>
<body>
<div class="expense-show">
    <nav>
        <%-include('./partials/nav')%>

    </nav>
    <h1> <%=expense.name%> </h1>
    <p>Budget: <%=expense.budget%></p>
    <p>Spent: <%=expense.spent%></p>
    <p>Notes: <%=expense.notes%></p>
    <form action="/expenses/<%=expense._id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
    </form>
    <a href="/expenses/<%=expense._id%>/edit">Edit</a>
</br>

    <a href="/expenses">Back to All Expenses</a>
</div>
</body>
</html>