<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Details</title>
</head>
<body>
    <nav>
        <a href="/expenses">Back to All Expenses</a>
    </nav>
    <h1> <%=expense.name%> </h1>
    <p>Budget: <%=expense.budget%></p>
    <p>Spent: <%=expense.spent%></p>
    <form action="/expenses/<%=expense._id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
    </form>
    <a href="/expenses/<%=expense._id%>/edit">Edit</a>

</body>
</html>